<!--
    Created By Hu
 -->
<!DOCTYPE html>
<html lang="zh-ch" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二维码生成</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>二维码生成</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">二维码生成</h3>
        </div>
        <div class="panel-body">
            <form id="qr_form" action="http://localhost:8080/qr/getQrCode" method="post">
                <div class="input-group">
                    <input v-model="merId" name="merId" type="text" class="form-control" placeholder="商户线下档案编号"/>
                    <span class="input-group-addon">号</span>
                </div><br>
                <div class="input-group">
                    <input v-model="storeCode" name="storeCode" type="text" class="form-control" placeholder="e生活档案编号"/>
                    <span class="input-group-addon">号</span>
                </div><br>
                <div class="input-group">
                    <input v-model="outTradNo" name="outTradNo" type="text" class="form-control" placeholder="商户系统订单号"/>
                    <span class="input-group-addon">号</span>
                </div><br>
                <div class="input-group">
                    <input v-model="orderAmt" name="orderAmt" type="text" class="form-control" placeholder="订单总金额"/>
                    <span class="input-group-addon">元</span>
                </div><br>
                <div class="input-group">
                    <input v-model="tradeDate" name="tradeDate" type="text" class="form-control" placeholder="订单生成日期"/>
                    <span class="input-group-addon">年-月-日</span>
                </div><br>
                <div class="input-group">
                    <input v-model="tradeTime" name="tradeTime" type="text" class="form-control" placeholder="订单生成时间"/>
                    <span class="input-group-addon">时-分-秒</span>
                </div><br>
                <div class="input-group">
                    <input v-model="payExpire" name="payExpire" type="text" class="form-control" placeholder="二维码有效期"/>
                    <span class="input-group-addon">秒</span>
                </div><br>
                <div class="input-group">
                    <input v-model="tporderCreateIp" name="tporderCreateIp" type="text" class="form-control" placeholder="订单生成的机器IP"/>
                    <span class="input-group-addon">IP地址</span>
                </div><br>
                <div class="input-group">
                    <label for="notifyFlagInput" class="col-lg-8 control-label">是否开启通知接口</label>
                    <div class="col-lg-8">
                        <select v-model="notifyFlagInput" id="notifyFlagInput" name="notifyFlag" class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div><hr>
                <button type="submit" class="btn btn-block btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>

<script src="js/vue-resource.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script>
    var qr_generator = new Vue({
        el:'#qr_form',
        data:{
                merId:'',
                storeCode:'',
                outTradNo:'',
                orderAmt:'',
                tradeDate:'',
                tradeTime:'',
                payExpire:'',
                tporderCreateIp:'',
                notifyFlagInput:''
        },
        methods:{
            post:function() {
                this.$http.post('http://localhost:8080/qr/getQrCode').then(function(result) {
                    alert(result)
                }, function (result) {
                    alert(result)
                });
            }
        }
    });
</script>
</body>
</html>