<!--
    Created By Hu
 -->
<!DOCTYPE html>
<html lang="zh-ch" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/pace.min.js"></script>
    <link href="css/pace/pace-theme-minimal.css" rel="stylesheet"/>
</head>
<body>
<div id="qr-image-dialog">
    <div class="modal fade" id="qr-image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">呐~</h3>
                </div>
                <div class="modal-body">
                    <div class="row center-block">
                        <img class="center-block" v-bind:src="imageSrc"/>
                        <h3 class="text-center">{{ message }}</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <!--通用导航-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-content" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ICBC-IBM-Contest</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <router-link to="/">主页</router-link>
                    </li>
                    <li>
                        <router-link to="/library">库</router-link>
                    </li>
                    <li>
                        <router-link to="/about">关于</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--目标内容渲染视图-->
    <div>
        <router-view></router-view>
    </div>

    <!--页脚-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <address class="center-block text-center">
            <br>
            <strong>ICBC-IBM-Contest</strong>&nbsp;&copy;<strong>Xiaozhong</strong>
            <a href="mailto:#">helloprofessor@outlook.com</a>
        </address>
    </nav>
</div>

<template id="library">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#app-list" aria-expanded="false">
                        <span class="sr-only"></span><span class="caret"></span>
                    </button>
                    <a class="navbar-brand" href="#">应用列表</a>
                </div>
                <div class="collapse navbar-collapse" id="app-list">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                账户管理服务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">线上账户服务</a></li>
                                <li><a href="#">财务查询</a></li>
                                <li><a href="#">信用卡办卡</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                商户收单服务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">小额免密</a></li>
                                <li><a href="#">APP移动在线支付</a></li>
                                <li><a href="#">生物识别支付</a></li>
                                <li><a href="#">Apple Pay支付</a></li>
                                <li><a href="#">H5移动在线支付</a></li>
                                <li><a href="#">工银e缴费</a></li>
                                <li><a href="#">二维码扫码支付</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                安全认证服务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">融安e信</a></li>
                                <li><a href="#">在线身份认证</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                商户运营服务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">工银e生活</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                资金结算服务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">境内汇款</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#">商户收单服务</a></li>
                <li><a href="#">二维码扫码支付</a></li>
                <li class="active">二维码生成</li>
            </ol>
            <qr-pay-panel></qr-pay-panel>
        </div>
    </div>
</template>

<template id="home">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello.World</h1>
            <p>
                <button class="btn btn-danger">安妮</button>
            </p>
        </div>
    </div>
</template>

<template id="about">
    <div class="container">
        <div class="page-header">
            <h1>ICBC竞赛</h1>
        </div>
    </div>
</template>

<template id="qrPay">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">二维码生成</h2>
        </div>
        <div class="panel-body">
            <div id="qr_form">
                <div class="input-group">
                    <input v-model="merId" name="merId" type="text" class="form-control"
                           placeholder="商户线下档案编号"/>
                    <span class="input-group-addon">号</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="storeCode" name="storeCode" type="text" class="form-control"
                           placeholder="e生活档案编号"/>
                    <span class="input-group-addon">号</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="outTradeNo" name="outTradeNo" type="text" class="form-control"
                           placeholder="商户系统订单号"/>
                    <span class="input-group-addon">号</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="orderAmt" name="orderAmt" type="text" class="form-control"
                           placeholder="订单总金额"/>
                    <span class="input-group-addon">元</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="tradeDate" name="tradeDate" type="text" class="form-control"
                           placeholder="订单生成日期"/>
                    <span class="input-group-addon">年-月-日</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="tradeTime" name="tradeTime" type="text" class="form-control"
                           placeholder="订单生成时间"/>
                    <span class="input-group-addon">时-分-秒</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="payExpire" name="payExpire" type="text" class="form-control"
                           placeholder="二维码有效期"/>
                    <span class="input-group-addon">秒</span>
                </div>
                <br>
                <div class="input-group">
                    <input v-model="tporderCreateIp" name="tporderCreateIp" type="text" class="form-control"
                           placeholder="订单生成的机器IP"/>
                    <span class="input-group-addon">IP地址</span>
                </div>
                <br>
                <div class="input-group">
                    <label for="notifyFlagInput" class="col-lg-8 control-label">是否开启通知接口</label>
                    <div class="col-lg-8">
                        <select v-model="notifyFlagInput" id="notifyFlagInput" name="notifyFlag"
                                class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="center-block">
                    <button v-on:click="post" class="btn btn-primary btn-lg">提交</button>
                    <button v-on:click="postDefault" class="btn btn-success btn-lg">提交测试默认值</button>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/vue-resource.js"></script>
<script>
    Vue.component('qr-pay-panel', {
        data:function () {
            return {
                merId: '',
                storeCode: '',
                outTradeNo: '',
                orderAmt: '',
                tradeDate: '',
                tradeTime: '',
                payExpire: '',
                tporderCreateIp: '',
                notifyFlagInput: '',
            }
        },
        template:'#qrPay',
        methods: {
            postDefault: function () {
                this.merId = '020002040095';
                this.storeCode = '02000015087';
                this.outTradeNo = 'ZHL777O15002039';
                this.orderAmt = '7370';
                this.tradeDate = '20171210';
                this.tradeTime = '160346';
                this.payExpire = '1200';
                this.tporderCreateIp = '127.0.0.1';
                this.notifyFlagInput = '1';
                this.post();
            },
            post: function () {
                Pace.restart();
                this.$http.post('http://localhost:8080/demo/qr/getQrCode', {
                    'merId': this.merId,
                    'storeCode': this.storeCode,
                    'outTradeNo': this.outTradeNo,
                    'orderAmt': this.orderAmt,
                    'tradeDate': this.tradeDate,
                    'tradeTime': this.tradeTime,
                    'payExpire': this.payExpire,
                    'tporderCreateIp': this.tporderCreateIp,
                    'notifyFlag': this.notifyFlagInput
                }, {
                    'headers': {
                        'Access-Control-Allow-Origin': '*'
                    }
                }).then(function (response) {
                    var respText = response.bodyText;
                    var respJson = JSON.parse(respText);
                    if (respJson.status === "0") {
                        qr_image_dialog.imageSrc = respJson.data;
                        qr_image_dialog.message = '';
                    } else {
                        qr_image_dialog.imageSrc = '';
                        qr_image_dialog.message = respJson.msg;
                    }
                    $('#qr-image-modal').modal('toggle');
                    console.log(respJson);
                }, function (response) {
                    console.log(response)
                });
            }
        }

    })
</script>
<script src="js/main.js"></script>
</body>
</html>